@import './variables.scss';

h1 {
  @include h1style
}

h2 {
  @include h2style
}

h1.display-3 {
  @include jumbotronheaderstyle
}

p {
  font-family: $content-font;
}

.App {
  text-align: center;
}

.bg-dark {
  background-color: $bg-color !important;
}

a.navbar-brand {
  @include navbarbrand
}

a.nav-link {
  @include navlinks
}

.jumbotron {
  background-color: $bg-jumbotron !important;
  color: $jumbotron-color;
  padding-left: 20px;
  padding-right: 20px;
}

.fa {
  color: $social;
}